{% extends 'base.html' %}
{% load static %}

{% block title %}Viagem - Editar{% endblock %}

{% block css %}
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="pagetitle">
  <h1>Viagem</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'indexView' %}">Home</a></li>
      <li class="breadcrumb-item active">Viagem</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ops, o que você precisa mudar?</h5>

          <!-- Vertical Form -->
          <form class="row g-3" method="POST" action="{% url 'ViagemEditAction' item.id %}" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="col-lg-4">
              <label for="inputNanme5" class="form-label">Cliente (*)</label>
              <br>
              <select name="client_id" required class="form-control select2">
                <option value="0">Selecione</option>
                {% for item_ in empresas %}
                <option value="{{ item_.id }}" {% if item.cliente_auten.id == item_.id %}selected{% endif %}>{{ item_.nome }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-lg-4">
              <label for="inputNanme5" class="form-label">Técnico (*)</label>
              <br>
              <select name="tecnico" required class="form-control select2">
                <option value="0">Selecione</option>
                {% for item_ in tecnicos %}
                <option value="{{ item_.id }}" {% if item.tecnico.id == item_.id %}selected{% endif %}>{{ item_.nome }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-lg-4">
              <label for="inputNanme5" class="form-label">Carro (*)</label>
              <br>
              <select name="carro" required class="form-control select2">
                <option value="0">Selecione</option>
                {% for item_ in carros %}
                <option value="{{ item_.id }}" {% if item.carro.id == item_.id %}selected{% endif %}>{{ item_.modelo }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-lg-6">
              <label for="inputNanme11" class="form-label">Data Saída Prevista (*)</label>
              <input type="text" class="form-control" id="inputNanme11" placeholder="Data Saída Prevista"
                name="data_saida_prevista" required value="{{ item.data_saida_prevista |date:"d/m/Y H:i" }}">
            </div>

            <div class="col-lg-6">
              <label for="inputNanme12" class="form-label">Km Prevista</label>
              <input type="text" class="form-control" id="inputNanme12" placeholder="Quilometragem total prevista"
                name="km_previsto" value="{{ item.km_previsto }}">
            </div>


            <div class="col-lg-6">
              <label for="inputNanme13" class="form-label">Data Chegada Prevista</label>
              <input type="text" class="form-control" id="inputNanme13" placeholder="Data Chegada Prevista"
                name="data_chegada_prevista" value="{{ item.data_chegada_prevista |date:"d/m/Y H:i" }}">
            </div>

            <div class="col-lg-6">
              <label for="inputNanme14" class="form-label">Link GPS - <a href="{{ item.link_gps }}" target="_blank">Ver no mapa</a> </label>
              <input type="text" class="form-control" id="inputNanme14" placeholder="GPS do local onde está a máquina"
                name="link_gps" value="{{ item.link_gps }}">
            </div>

            <div class="col-lg-12">
              <label for="inputNanme15" class="form-label">Observação</label>
              <textarea class="form-control" id="inputNanme15" placeholder="Observação" name="observacao">{{ item.observacao }}</textarea>
            </div>
            

            <div class="col-lg-12">
              <div class="col-lg-11 col-xs-12">
                <button type="submit" class="btn btn-primary">
                  <i class="bx bx-save"></i> Salvar
                </button>
                
                <a href="{% url 'ViagemIndexView' %}" class="btn btn-secondary">
                  <i class="bx bx-arrow-back"></i> Voltar
                </a>
              </div>
              
            </div>
          </form><!-- Vertical Form -->


        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<script>
  $('#inputNanme11').datetimepicker({
    footer: true,
    modal: true,
    format: 'dd/mm/yyyy HH:MM'
  });
  $('#inputNanme13').datetimepicker({
    footer: true,
    modal: true,
    format: 'dd/mm/yyyy HH:MM'
  });
</script>
{% endblock %}