{% extends 'base.html' %}
{% load static %}

{% block title %}Viagem - Lista{% endblock %}


{% block body %}
<div class="pagetitle">
  <h1>Viagens</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'indexView' %}">Home</a></li>
      <li class="breadcrumb-item active">Viagem</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
  
<section class="section dashboard" id="app">
  <div class="row">
    <div class="col-lg-12">
      {% if data %}
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Carro</th>
            <th scope="col">Cliente</th>
            <th scope="col">Técnico</th>
            <th scope="col">Data Saída</th>
            <th scope="col">Data Chegada</th>
            <th scope="col">Km previsto</th>
            <th scope="col">Criado em</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
          <td>{{ item.id }}</td>          
          <td>
            {% comment %} <img src="{{ DOMAIN_ASSETS }}/carro/{{ item.foto }}.png" alt="Foto" width="200px"> {% endcomment %}
             {{ item.carro.modelo }}
          </td>   
          <td>{{ item.cliente_auten.nome }}</td>
          <td>{{ item.tecnico.nome }}</td>
          <td>{{ item.data_saida_prevista }}</td>
          <td>{{ item.data_chegada_prevista }}</td>
          <td>{{ item.km_previsto }}</td>
          <td>{{ item.created_at }}</td>
          <td>
            {{ item.get_status_display  }}
          </td>
          <td>
            <!-- Menu de Ações -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Opções</button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Opções</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  {% if item.status == 0 %}
                  <a class="dropdown-item" href="{% url 'ViagemEditView' item.id %}">
                    <i class="bi bi-sliders"></i> Editar
                  </a>
                  {% else %}
                  <a class="dropdown-item disabled" href="#">
                    <i class="bi bi-sliders"></i> Editar
                  </a>
                  {% endif %}
                </li>                
                <li><hr class="dropdown-divider"></li>

                 
                <li>                  
                  <a class="dropdown-item" href="{% url 'ViagemInstalacaoIndexView' item.id %}">
                    <i class="bi bi-plus"></i> Visitas
                  </a>                                    
                </li>                
                <li><hr class="dropdown-divider"></li>

                <li>                  
                  <a class="dropdown-item" href="{% url 'ViagemExtratoView' item.id %}">
                    <i class="bi bi-file-text"></i> Extrato
                  </a>                                    
                </li>                
                <li><hr class="dropdown-divider"></li>
                
                

                <li>
                  {% if item.status == 2 %}
                  <a class="dropdown-item" href="{% url 'ViagemSaidaView' item.id %}"><i class="bi bi-play"></i> Iniciar(editar)</a>
                  {% elif item.status < 2 %}
                  <a class="dropdown-item" href="{% url 'ViagemSaidaView' item.id %}"><i class="bi bi-play"></i> Iniciar</a>
                  {% else %}
                  <a class="dropdown-item disabled" href=""><i class="bi bi-play"></i> Iniciar</a>
                  {% endif %}
                  
                </li>                
                <li><hr class="dropdown-divider"></li>

                <li>
                  {% if item.status == 2 %}
                  <a class="dropdown-item" href="{% url 'ViagemChegadaView' item.id %}"><i class="bi bi-stop"></i> Finalizar</a>
                  {% else %}
                  <a class="dropdown-item disabled" href="#"><i class="bi bi-stop"></i> Finalizar</a>
                  {% endif %}                  
                </li>                
                <li><hr class="dropdown-divider"></li>

                {% if item.status == 0 %}
                <li>
                  <a class="dropdown-item" href="#" @click.once="deleteConfirm('{% url 'ViagemDeleteAction' item.id  %}')">
                    <i class="bi bi-x-circle"></i> Excluir
                  </a>
                </li>
                {% endif %}

              </ul>
            </div>
          </td>
          {% endfor %}
        </tr>
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger" role="alert">
        Não há dados!
      </div>
      {% endif %}
    </div>
    <div class="col-lg-12">
      <a href="{% url 'ViagemNewView' %}" class="btn btn-primary">
        <i class="bx bxs-plus-circle"></i> Nova viagem
      </a>      

      <a href="{% url 'ViagemFilterView' %}" class="float" data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrar">
        <i class="bi bi-funnel"></i>
      </a>    

    </div>
  </div>



</section>
{% endblock %}

{% block js %}
<script src="{% static 'backend/js/Carro/index.js' %}"></script>
{% endblock %}
