{% extends 'base.html' %}
{% load static %}

{% block title %}Atendimento em Transferência{% endblock %}

{% block css %}
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<style>
  .preto{
    background-color: #a7a7a7;
    border-color: #000000;
  }
   
  .accordion-button {
    background-color: #2d2d2d !important;
    color: white !important;
  }
  
</style>
{% endblock %}

{% block body %}
<div class="pagetitle">
  <h1>Atendimento em transferência</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'indexView' %}">Home</a></li>
      <li class="breadcrumb-item">Atendimento</li>
      <li class="breadcrumb-item active">Transferência</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Atendimento em Trasnferência</h5>
         
          <!-- Vertical Form -->
          <form class="row g-3" method="POST" action="{% url 'CallTransferSaveAction' call.id %}" enctype="multipart/form-data">
                      
            {% csrf_token %}

            <h2>Olá {{ request.user.first_name }}, tudo bem? Para quem você vai mandar esse atendimento?</h2>

            <div class="mb-3">
              <select class="form-select select2 w-100" required name="tecnico">
                <option value="-1">Selecione...</option>
                {% for tec in tecnicos %}
                <option value="{{ tec.id }}" {% if tec.id == call.tecnico.id %}selected{% endif %}>
                  {{ tec.nome }}
                </option>
                {% endfor %}
              </select>
            </div>


            <hr>

            <div class="col-lg-12">
              <div class="col-lg-11 col-xs-12 d-flex justify-content-between">
                
                <button type="submit" class="btn btn-primary">
                  <i class="bx bx-save"></i> Salvar
                </button>                
                
                <a href="{% url 'CallIndexView' %}" class="btn btn-secondary">
                  <i class="bx bx-arrow-back"></i> Voltar
                </a>

              </div>
            </div>

            <hr>

          </form><!-- Vertical Form -->

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}

<script>
  $('#call_at_child').datetimepicker({
    footer: true,
    modal: true,
    format: 'dd/mm/yyyy HH:MM'
  });  
</script>
{% endblock %}