Backend/media/backend/upload/*
Backend/__pycache__/
*.pyc
Backend/app/__pycache__/__init__.cpython-36.pyc
Backend/app/__pycache__/admin.cpython-36.pyc
Backend/app/__pycache__/apps.cpython-36.pyc
Backend/app/__pycache__/models.cpython-36.pyc
Backend/backend/Controller/__pycache__/AutomationController.cpython-36.pyc
Backend/backend/Controller/__pycache__/BaseController.cpython-36.pyc
Backend/backend/Controller/__pycache__/CompanyController.cpython-36.pyc
Backend/backend/Controller/__pycache__/DashboardController.cpython-36.pyc
Backend/backend/Controller/__pycache__/LoginController.cpython-36.pyc
Backend/backend/Controller/__pycache__/MQTTController.cpython-36.pyc
Backend/backend/Controller/__pycache__/UserAppController.cpython-36.pyc
Backend/backend/Routes/Automation/__pycache__/urls.cpython-36.pyc
Backend/backend/Routes/Company/__pycache__/urls.cpython-36.pyc
Backend/backend/Routes/Dashboard/__pycache__/urls.cpython-36.pyc
Backend/backend/Routes/Login/__pycache__/urls.cpython-36.pyc
Backend/backend/Routes/UserApp/__pycache__/
Backend/backend/__pycache__/__init__.cpython-36.pyc
Backend/backend/__pycache__/admin.cpython-36.pyc
Backend/backend/__pycache__/apps.cpython-36.pyc
Backend/backend/__pycache__/models.cpython-36.pyc
Backend/backend/__pycache__/urls.cpython-36.pyc
Backend/frontend/__pycache__/__init__.cpython-36.pyc
Backend/frontend/__pycache__/admin.cpython-36.pyc
Backend/frontend/__pycache__/apps.cpython-36.pyc
Backend/frontend/__pycache__/models.cpython-36.pyc
Backend/gunicorn_conf
Backend/slock/__pycache__/__init__.cpython-36.pyc
Backend/slock/__pycache__/settings.cpython-36.pyc
Backend/slock/__pycache__/urls.cpython-36.pyc
Backend/slock/__pycache__/wsgi.cpython-36.pyc
Backend/backend/Controller/__pycache__/AutomationController.cpython-312.pyc
Backend/backend/Controller/__pycache__/MQTTController.cpython-312.pyc
Backend/backend/Routes/Automation/__pycache__/urls.cpython-312.pyc
Backend/backend/__pycache__/models.cpython-312.pyc
Firmware/Debug/*
Backend/env/*
Backend/.venv/*
Backend/.vscode/launch.json
Backend/backend/Controller/__pycache__/ApiAtronController.cpython-312.pyc
Backend/backend/Routes/Automation/__pycache__/urls.cpython-312.pyc
Backend/backend/Routes/Automation/__pycache__/urls.cpython-312.pyc
