{% extends 'base.html' %}
{% load static %}

{% block title %}Automações - Lista{% endblock %}


{% block body %}
<div id="indexHU">
  <div class="pagetitle">
    <h1>Automação</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Automação</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        {% if data %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Tipo</th>
            <th scope="col">Criado em</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
          </thead>
          <tbody>
          {% for item in data %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.client.nome_fantasia }}</td>
            <td>{{ item.automation_type.description }}</td>
            <td>{{ item.created_at }}</td>
            <td>
              {% if item.status %}
              <i class="bi bi-hand-thumbs-up-fill"></i>
              {% else %}
              <i class="bi bi-hand-thumbs-down"></i>
              {% endif %}
            </td>
            <td>
              <!-- Menu de Ações -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary">Opções</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Opções</span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'AutomationEditView' item.id %}"><i class="bi bi-sliders"></i> Editar</a>
                  </li>
                  {% if item.automation_type.id == 5 %}
                  <li>
                    <a class="dropdown-item" href="{% url 'AutomationEditSlotAction' item.id %}"><i class="bi bi-box-seam"></i> Slots</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'AutomationEditHUView' item.id %}"><i class="bi bi-house-check-fill"></i> HU's</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'AutomationFileCheckoutView' item.id %}"><i class="bi bi-key"></i> Editar Checkouts</a>
                  </li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <!--li>
                    <a class="dropdown-item" href="#" @click.once="deleteConfirm('{ % url 'AutomationDeleteAction' item.id  %}')">
                      <i class="bi bi-x-circle"></i> Excluir
                    </a>
                  </li-->
                </ul>
              </div>
            </td>
            {% endfor %}
          </tr>
          </tbody>
        </table>
        {% else %}
        <div class="alert alert-danger" role="alert">
          Não há dados!
        </div>
        {% endif %}
      </div>
      <div class="col-lg-12">
        <a href="{% url 'AutomationNewAction' %}" class="btn btn-primary">
          <i class="bx bxs-plus-circle"></i> Nova Automação
        </a>
      </div>
    </div>
  </section>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'backend/js/Automation/index.js' %}"></script>
{% endblock %}