{% extends 'base.html' %}
{% load static %}

{% block title %}Automação - Novo{% endblock %}


{% block body %}
<div class="pagetitle">
  <h1>Automação</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Automação</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro</h5>
          <!-- Vertical Form -->
          <form class="row g-3" method="post" action="{% url 'AutomationSaveAction' %}">
            {% csrf_token %}
            <div class="col-lg-12">
              <label for="company_id" class="form-label">Empresa/Cliente</label>
              <select id="company_id" class="form-select" required name="company_id">
                {% for c in companies %}
                <option value="{{ c.id }}">{{ c.nome_fantasia | capfirst }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-6">
              <label for="inputNanme4" class="form-label">Tipo</label>
              <select id="inputNanme4" class="form-select" required name="automation_type_id">
                {% for type in automationTypes %}
                  <option value="{{ type.id }}">{{ type.description }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-6">
              <label for="inputAddress" class="form-label">Nome Curto</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Short name" required name="short_name">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme5" class="form-label">IP</label>
              <input type="text" class="form-control ip_address" id="inputNanme5" placeholder="IP: xxx.xxx.xxx.xxx" name="ip">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme6" class="form-label">Subnet</label>
              <input type="text" class="form-control ip_address" id="inputNanme6" placeholder="Subnet: xxx.xxx.xxx.xxx" name="subnet">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme7" class="form-label">Gateway</label>
              <input type="text" class="form-control ip_address" id="inputNanme7" placeholder="Gateway: xxx.xxx.xxx.xxx" name="gateway">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme9" class="form-label">Mac</label>
              <input type="text" class="form-control" id="inputNanme9" placeholder="MAC: CA:FE:CO:FF:EE:EE" required name="mac">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme8" class="form-label">Local Instalação</label>
              <select id="inputNanme8" class="form-select" required name="type_location">
                <option>Garagem</option>
                <option>Hall de Entrada</option>
                <option>Hall de Saída</option>
                <option>Salão de Festa</option>
                <option>Outros</option>
              </select>
            </div>
             <div class="col-lg-6">
              <label for="description" class="form-label">Descrição</label>
              <textarea id="description" class="form-control" placeholder="Descrição" name="description"></textarea>
            </div>
            <div class="col-lg-12 d-flex justify-content-end">
              <div class="col-lg-11 col-xs-12">
                <button type="submit" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill" viewBox="0 0 16 16">
                    <path d="M12 2h-2v3h2z"/>
                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0zM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1zM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1"/>
                  </svg> Salvar
                </button>
                <a href="{% url 'AutomationIndexView' %}" class="btn btn-secondary">
                  <i class="bi bi-arrow-left"></i> Voltar
                </a>
              </div>
              <div class="col-lg-1 col-xs-12">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" name="status" value="1">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Ativo</label>
                </div>
              </div>
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}