{% extends 'base.html' %}
{% load static %}

{% block title %}Cliente - Novo{% endblock %}


{% block body %}
<div class="pagetitle">
  <h1>Cliente</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Cliente</li>
      <li class="breadcrumb-item active">Novo</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro</h5>

          <!-- Vertical Form -->
          <form class="row g-3" method="POST" action="{% url 'ClientSaveAction' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-6">
              <label for="inputAddress" class="form-label">Razão Social</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Razão Social" required name="razaoSocial">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme5" class="form-label">Nome Fantasia</label>
              <input type="text" class="form-control" id="inputNanme5" placeholder="Nome Fantasia" name="nomeFantasia">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme6" class="form-label">E-mail</label>
              <input type="text" class="form-control" id="inputNanme6" placeholder="E-mail" name="email">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme7" class="form-label">CNPJ</label>
              <input type="text" class="form-control" id="inputNanme7" placeholder="CNPJ" required name="cnpj">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme9" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="inputNanme9" placeholder="(xx)x.xxxx-xxxx" name="telefone">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme8" class="form-label">CEP</label>
              <input type="text" class="form-control" id="inputNanme8" placeholder="CEP" name="cep">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme10" class="form-label">UF</label>
              <input type="text" class="form-control" id="inputNanme10" placeholder="UF" name="uf">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme11" class="form-label">Cidade</label>
              <input type="text" class="form-control" id="inputNanme11" placeholder="Cidade" name="cidade">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme12" class="form-label">Bairro</label>
              <input type="text" class="form-control" id="inputNanme12" placeholder="Bairro" name="bairro">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme13" class="form-label">Rua</label>
              <input type="text" class="form-control" id="inputNanme13" placeholder="Rua" name="rua">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme14" class="form-label">Nº</label>
              <input type="text" class="form-control" id="inputNanme14" placeholder="Número" name="numero">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme15" class="form-label">Observação</label>
              <textarea class="form-control" id="inputNanme15" placeholder="Observação" name="observacao"></textarea>
            </div>
            <div class="col-lg-6 col">
              <label for="formFileLg1" class="form-label">Logo</label>
              <input class="form-control form-control-lg" id="formFileLg1" type="file" name="logo">
            </div>
            <div class="col-lg-6 col">
              <label for="formFileLg2" class="form-label">Banner</label>
              <input class="form-control form-control-lg" id="formFileLg2" type="file" name="banner">
            </div>
            <div class="col-lg-12 d-flex justify-content-end">
              <div class="col-lg-11 col-xs-12">
                <button type="submit" class="btn btn-primary">
                  <i class="bx bx-save"></i> Salvar
                </button>
                
                <a href="{% url 'ClientIndexView' %}" class="btn btn-secondary">
                  <i class="bx bx-arrow-back"></i> Voltar
                </a>
              </div>
              <div class="col-lg-1 col-xs-12">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" name="status" value="1">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Ativo</label>
                </div>
              </div>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}