{% extends 'base.html' %}
{% load static %}


{% block title %}Ordem de Produção - Componentes{% endblock %}


{% block body %}
<div class="pagetitle no-print">
  <h1>Montando minha ordem de produção (Pick Up)</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'indexView' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'OrdemProducaoIndexView' %}">Ordem de Produção</a></li>
      <li class="breadcrumb-item active">Composição</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
  
<section class="section dashboard" id="app">
  <div class="row">
    <div class="col-lg-12">

      <div class="only-print">
        <hr>

        <p>{{ ordem_producao.job }}</p>
        <p>Iniciar em: {{ ordem_producao.data_inicio }} e terminar em: {{ ordem_producao.data_entrega }}</p>

        <hr>
      </div>

      <!-- Vertical Form -->
      <form class="row g-3 no-print" method="POST" action="{% url 'OrdemProducaoComponentsSaveAction' ordem_producao.id %}" enctype="multipart/form-data">
            
        {% csrf_token %}

        <div class="col-lg-4">
          <label for="produto" class="form-label">Produto (*)</label>
          <br>
          <select name="produto" required class="form-control select2" id="produto">                                
            <option value="0">Selecione...</option>             
            {% for p in produtos %}
            <option value="{{ p.id }}">{{ p.descricao }} (Est:{{ p.quantidade_em_estoque }})</option>      
            {% endfor %}
          </select>
        </div> 

        <div class="col-lg-4">
          <label for="quantidade" class="form-label">Quantidade(*)</label>
          <input type="text" class="form-control" id="quantidade" value="1" placeholder="Quantidade" name="quantidade" required>
        </div>        
        
        <div class="col-lg-4">
          <label for="observacao" class="form-label">Observervação</label>
          <input type="text" class="form-control" id="observacao" placeholder="Observação" name="observacao">
        </div>

        <div class="col-lg-12">
          <div class="col-lg-11 col-xs-12">
            
            <button type="submit" class="btn btn-primary">
              <i class="bx bx-plus"></i> Add item
            </button>
            
            <a href="{% url 'OrdemProducaoIndexView' %}" class="btn btn-secondary">
              <i class="bx bx-arrow-back"></i> Voltar
            </a>

          </div>
          
        </div>
      </form><!-- Vertical Form -->


      <div class="mt-4">
        {% if ordem_producao_composto_child %}
        <table class="table datatable no-print">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Foto</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Observação</th>
            <th scope="col" class="col-remover">Remover</th>
          </tr>
          </thead>
          <tbody>
          {% for pcc in ordem_producao_composto_child %}
          <tr>
            <td>
              {{ pcc.id }}
            </td>
            <td>
              {% if pcc.produto.codigo %}
              {{ pcc.produto.codigo }}
              {% else %}
              #
              {% endif %}
            </td>          
            <td>
              <img src="{{ DOMAIN_ASSETS }}/produto/{{ pcc.produto.foto }}.png" alt="Foto" width="100px" loading="lazy">              
            </td>
            <td>{{ pcc.produto.descricao }} ({{ pcc.produto.endereco }})</td>
            <td>{{ pcc.quantidade }}</td>          
            <td>
              {% if pcc.observacao %}
              {{ pcc.observacao }}
              {% else %}
              #
              {% endif %}
            </td>                                    
            <td class="col-remover">
              <a href="{% url 'OrdemProducaoComponentsDeleteAction' pcc.id %}" class="btn btn-danger">
                <i class="bi bi-trash"></i> Excluir Item
              </a>
            </td>
            {% endfor %}
          </tr>
          </tbody>
        </table>

        {% comment %} É a mesma table so que sem colunas e preparada para a impressão {% endcomment %}
        <table class="table only-print">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Foto</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Observação</th>            
          </tr>
          </thead>
          <tbody>
          {% for pcc in ordem_producao_composto_child %}
          <tr>
            <td>
              {{ pcc.id }}
            </td>
            <td>
              {% if pcc.produto.codigo %}
              {{ pcc.produto.codigo }}
              {% else %}
              #
              {% endif %}
            </td>          
            <td>
              <img class="img-produto" src="{{ DOMAIN_ASSETS }}/produto/{{ pcc.produto.foto }}.png" alt="Foto" width="100px" loading="lazy">              
            </td>
            <td>{{ pcc.produto.descricao }} ({{ pcc.produto.endereco }})</td>
            <td>{{ pcc.quantidade }}</td>          
            <td>
              {% if pcc.observacao %}
              {{ pcc.observacao }}
              {% else %}
              #
              {% endif %}
            </td>                                                
            {% endfor %}
          </tr>
          </tbody>
        </table>

        {% if ordem_producao.anexo %}        
        <img class="mt-4" src="{{ DOMAIN_ASSETS }}/ordem/producao/{{ ordem_producao.anexo }}.png" alt="Foto" width="100%" loading="lazy">
        {% endif %}

        {% else %}
        <div class="alert alert-danger" role="alert">
          Não há componentes ainda! Bora lá???
        </div>
        {% endif %}
      </div>
    </div>
    
    <button onclick="window.print()" class="float" data-bs-toggle="tooltip" data-bs-placement="top" title="imprimir">
      <i class="bi bi-printer"></i>
    </button>       

  </div>
</section>
{% endblock %}

{% block js %}
{% comment %} <script src="{% static 'backend/js/Produto/index.js' %}"></script> {% endcomment %}
{% endblock %}
